.tour-img{
  margin-right: auto;
  width: 330px;
  height: auto;
}
.edit-tab{
  display: inline-block;
  display: flex;
  justify-content: center;
  
}
.mytable{
  width: 100%;
  border: 0;
}
.mytable2{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.text{
  border: 1px solid black;
  padding: 9px;
}
.mycap{
  color: green;
  margin-right: 0%;
  border: 1px solid black;
  padding: 9px;
}
.imgtab{
  width: 350px;
  height: auto;
}