.logo{
  width:100%;
  height: 500px;
}
.mytable{
  border-collapse: collapse;
  width: 150px;
}
.tr{
  border: 1px solid black;
}
.appearance{
  display: flex;
}
.carpic{
  width: 25%;
  height: auto;
}